{% extends "base.njk" %}

{% import "macros.njk" as macros %}

{% block preheader %}
  {{ macros.preheader('Tu post ha sido publicado') }}
{% endblock %}

{% block main %}
  {{ macros.sentence('¡Hola! 👋') }}
  {{ macros.sentence('Queremos comentarte que tu posteo "' + postTitle + '" ha sido publicado.') }}
  {{ macros.sentence('¡Gracias por ser parte de esta gran comunidad!') }}
  {{ macros.sentence('Si deseas más información, no dudes en contactarnos.') }}
  {{ macros.sentence('Equipo de Incidir para Existir y Movilizatorio') }}
{% endblock %}